.footer {
  width: 100%;
  margin-bottom: 2em;
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  font-size: 1.1rem;
}

.footer-download {
  display: flex;
  justify-content: space-around;
}

.download-item {
  display: block;
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 0.5em 1em;
}

@media screen and (min-width: 576px) {
  .footer-download {
    display: flex;
    justify-content: space-evenly;
  }
}
