.login-form {
  display: flex;
  flex-direction: column;
}

.login-form::after {
  content: '또는';
  margin: 1.5em 0;
  text-align: center;
  color: grey;
}

.login-id,
.login-pw,
.login-submit {
  padding: 1.5em 1em;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 0.5em;
}

.login-id,
.login-pw {
  background-color: rgba(211, 211, 211, 0.363);
  border: 1px solid grey;
}

.login-id.valid,
.login-pw.valid {
  background-color: #27a8434b;
  border: 1px solid #27a844;
}

.login-id.invalid,
.login-pw.invalid {
  background-color: #dc35463a;
  border: 1px solid #dc3546;
}

.login-submit {
  font-size: 1.1rem;
  padding: 1em 0.5em;
  background-color: #007bffa1;
  color: white;
}

.login-submit:hover {
  cursor: default;
}

.login-submit.valid {
  cursor: pointer;
  background-color: #007aff;
  transition: all 200ms ease-in;
}

.login-submit.valid:hover {
  cursor: pointer;
  background-color: #007bffa1;
}
